<nav class="new-transaction-nav">
  <a href="<%= transactions_url %>"><-Transaction Index</a>
</nav>

<div>
  <p><%= flash[:errors] %></p>
  <h2>Input Transaction Details</h2>

  <% if @transaction%>
    <% value_points = @transaction.points %>
  <% else %>
    <% value_points = nil %>
  <% end %>


  <form action="<%= transactions_url %>" method="post">
    <p>
      <label>Payer:
        <input type="text" name="transaction[payer_name]">
      </label>
    </p>
    <p>
      <label>Points:
        <input type="number" name="transaction[points]" value="<%= value_points %>">
      </label>
    </p>
    <p>
      <input type="submit" value="Create this transaction">
    </p>
  </form>
</div>
